<div id="wrapper">
	<div class="col-sm-12">
		<div class="searchbar">
			<%= form_tag(clearance_batches_path, role: "form") do %>
				<div class="input-group add-on">
					<%= text_field_tag "itemID", "", placeholder: "Enter Item Number", class: "form-control" %>
						<div class="input-group-btn">
							<%= button_tag(type: "submit", class: "btn btn-default") do %>
								<i class="fa fa-search"></i>
							<% end %>
						</div>
				</div>
			<% end %>
		</div>
	</div>
</div>


