<div class="modal fade confirmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= button_tag(type: "button", class: "close", data: { dismiss: "modal" }, aria: {label: "Close" } ) do %>
          <span aria-hidden="true">&times;</span>
        <% end %>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <%= button_tag "Cancel", type: "button", class: "btn btn-default", data: { dismiss: "modal" } %>
        <%= button_tag type: "button", class: "btn btn-primary submit" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
