 <div class="input-group add-on">
  <%= text_field_tag "itemID", "", placeholder: "Enter Item Number", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag(name: "add_item", class: "btn btn-default add_item_to_batch") do %>
        <i class="fa fa-search"></i>
      <% end %>
    </div>
</div>