<h2 class="text-center">Clearance Batches</h2>
<table class="table table-hover clearance_batches">
  <thead>
    <tr>
      <th></th>
      <th>Date clearanced</th>
      <th>Number of items clearanced</th>
    </tr>
  </thead>
  <tbody>
    <% if @clearance_batches %>
      <%- @clearance_batches.each do |clearance_batch| -%>
        <tr>
          <td><%= link_to "Clearance Batch #{clearance_batch.id}", clearance_batch_path %></td>
          <td><%= l(clearance_batch.created_at, format: :short) %></td>
          <td><%= clearance_batch.items.count %></td>
        </tr>
      <%- end -%>
    <% end %>
  </tbody>
</table>
