<%- if flash[:notice] -%>
	<div class="alert alert-info" role="alert">
		<%= flash[:notice].html_safe %>
	</div>
<%- end -%>
<%- if flash[:alert] -%>
	<div class="alert alert-danger" role="alert">
		<%= flash[:alert].html_safe %>
	</div>
<%- end -%>