
<div class="flash-messages displayNone"></div>

<div class="col-sm-12 text-center">
  <div class="searchbar items-search top-pad-30px">
    <%= form_tag search_path, method: "get" do %>
      <%= render "items_search" %>
    <% end %>
  </div>
</div>

<div id="items">
	<%= render 'items' %>
	
</div> 

