.navbar-theme {
	background-color: #ede7e3;
}

a {
	color: #6A615F;
}

.navbar-theme a:hover {
	color: #9DD5CC;
	background-color: #e9e2dc;
}

.table > thead > tr > th {
	border-bottom: 2px solid #9DD5CC;
}

h1, .h1, h2, .h2, h3, .h3 {
	color: #9DD5CC;
	font-family: "BrandonGrotesque-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px;
}

.displayNone {
	display: none;
}

a:hover {
	color: #9DD5CC;
	text-decoration: none;
}

.btn {
	color: white;
	background-color: #ff5c61;
	border-color: #ff5c61;
}

.btn:hover {
	color: white;
	background-color: #ff5c61;
	border-color: #ff5c61;
}

.top-pad-30px {
	padding-top: 30px;
}