body {
    height: 100%;
    background-color: #f7f5f2;
    font-family: "BrandonText-Regular", sans-serif;
    color: #847c77;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #f7f5f2;
}

.navbar-theme {
	background-color: #ede7e3;
}

.nav a {
	text-transform: uppercase;
	font-family: "BrandonText-Regular", sans-serif;
	font-size: 14px;
	letter-spacing: 1.5px;
}

.nav a:hover {
	color: #9DD5CC;
	background-color: #eeeeee;
}

.nav li:focus {
	color: #9DD5CC;
	background-color: #eeeeee;
}

.navbar-brand {
	font-size: 20px;
  line-height: 22px;
}

.dropdown-menu li a:hover {
	color: #9DD5CC;
	background-color: #eeeeee;
}

.dropdown-menu {
	background-color: #ede7e3;
}

a {
	color: #6A615F;
}

a:hover {
	color: #9DD5CC;
	text-decoration: none;
}

.table > thead > tr > th {
	border-bottom: 2px solid #9DD5CC;
}

h1, .h1, h2, .h2, h3, .h3 {
	color: #9DD5CC;
	font-family: "BrandonGrotesque-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px;
}

.displayNone {
	display: none;
}

.btn {
	color: white;
	background-color: #ff5c61;
	border-color: #ff5c61;
}

.btn:hover {
	color: white;
	background-color: #ff5c61;
	border-color: #ff5c61;
}

.top-pad-30px {
	padding-top: 30px;
}

.table-hover {
	background-color: #ede7e3;
}

.fa-file-pdf-o {
	padding-left: 20px;
}

tbody {
	text-align: center;
}

th {
	text-align: center;
}










