
.searchbar {
  display: inline-block;
  width: 70%;
  padding-bottom: 30px;
}

.searchbar input {
  display: block; 
  height: 40px;  
  border-radius: 0;
  border-radius: 0;
}

.searchbar button {
	height: 40px;
	border-radius: 0;
	border-radius: 0;
}

.searchbar .form-control:focus {
	border-color: #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}